@media (max-width: 767px) {

    /*---------------
        Main styles
    ---------------*/
    .swiper {
        --swiper-pagination-bottom: 0;
    }

    .swiper-pagination {
        text-align: center;
    }


    .main-title {
        font-size: 18px;
    }


    .btns .link_btn>* {
        min-width: 186px;
        padding: 0 15px;
        font-size: 14px;
    }

    .btns .sep {
        font-size: 14px;
    }


    .page_content {
        padding-bottom: 5px;
    }

    .page_content.sect-marg {
        margin-top: 25px;
    }

    .page_title {
        text-align: center;
    }

    /*---------------
        Header
    ---------------*/
    header .cont {
        height: 80px;
    }

    header .logo {
        width: 88px;
    }

    header .link_office {
        display: none;
    }

    /*---------------
        Main section
    ---------------*/
    .main_slider .slide {
        padding: 32px 0 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
    }

    .main_slider .slide .data {
        width: 100%;
    }

    .main_slider .slide .img {
        width: 100%;
        max-width: 208px;
        order: -1;
        margin-bottom: 30px;
    }

    .main_slider .slide .title {
        font-size: 24px;
        min-height: 1px;
    }

    .main_slider .slide .info {
        font-size: 14px;
        max-width: 365px;
        min-height: 72px;
        margin: 10px auto 0;
    }

    .main_slider .slide .link_btn {
        margin-top: 20px;
    }


    .catalog .grid {
        --items: 1;
    }

    .catalog .item .img {
        padding-bottom: 38.464%;
    }

    .catalog .item .data .name {
        width: calc(100% - 163px);
    }

    .catalog .item .data .link_btn {
        width: 158px;
    }


    .block_banner .box {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        min-height: 380px;
    }

    .block_banner .box .img {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        max-width: 292px;
        order: -1;
        margin-bottom: 30px;
    }

    .block_banner .title {
        font-size: 18px;
    }

    .block_banner *+.text {
        margin-top: 5px;
    }

    .block_banner *+.link_btn {
        margin-top: 18px;
    }

    .block_banner .link_btn a {
        width: 100%;
        max-width: 336px;
    }

    .block_banner .box .data{
        width: 100%;
    }


    .news .grid {
        --items: 1;
    }

    .news-item__data {
        width: 100%;
        max-width: 336px;
        margin: 0 auto;
    }

    .news-item__btn a{
        min-width: 1px;
    }


    .promotions .grid {
        --items: 2;
    }

    .promotion-item {
        padding: 20px;
    }

    .cities .grid {
        --items: 2;
    }


    .contacts__grid {
        --items: 1;
    }

    .contacts-item--wide>* {
        width: 100%;
    }

    .contacts-item--wide .contacts-item__map {
        height: 194px;
    }

    .contacts-item--wide .contacts-item__data {
        margin-top: 8px;
    }

    .contacts-item .link-office-menu {
        padding-right: 0;
    }


    .news-page__box {
        padding: 14px 9px;
    }

    .news-page-item__title {
        font-size: 18px;
    }

    .news-page-item__head {
        --margin-bottom: 0;
    }

    .news-page-item__head>* {
        width: 100%;
    }

    .news-page-item__img {
        padding-bottom: 40%;
        margin-top: 17px;
    }


    .reviews .grid{
        --items: 1;
    }

    .review{
        min-height: 268px;
        padding: 17px 13px;
    }

    /*---------------
        Footer
    ---------------*/
    footer {
        padding-bottom: 60px;
    }

    footer .cont {
        flex-direction: column;
    }

    footer .cont .col_l {
        text-align: center;
        width: 100%;
    }

    footer .cont .col_r {
        width: 100%;
        margin-top: 20px;
    }


    .modal__content {
        text-align: center;
        padding: 32px 55px 15px;
    }

    .modal__title {
        font-size: 18px;
    }

    .modal__desc {
        font-size: 14px;
        margin-top: 10px;
    }

    .modal__desc br {
        display: none;
    }

    .modal__data {
        max-width: 100%;
    }

    .modal__img {
        position: relative;
        display: block;
        right: 0;
        top: 0;
        max-width: 256px;
        margin: 0 auto 25px;
    }

    .modal .link_btn {
        margin: 25px auto 0;
    }

    .modal .timer {
        width: 100%;
    }

}