* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

img {
    border: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active {
    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input[type=submit],
button[type=submit],
input[type=reset],
button[type=reset] {
    -webkit-appearance: none;
    appearance: none;
}

:focus {
    outline: none;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

::-ms-clear {
    display: none;
}

/*
--------------
    Main styles
---------------
*/

:root {
    --scroll_width: 17px;
    --font_family: 'Noto Sans', sans-serif;
    --btn-bg: #4d8eff;
    --btn-color: #fff;
    --btn-bg--hover: #387df6;
}

/* Работает в Firefox */

.form * {
    --scroll-bg: #b3b3b3;
    --scroll-border-color: transparent;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bg) var( --scroll-border-color);
}

/* Работает в Chrome, Edge и Safari */

.form *::-webkit-scrollbar {
    width: 4px;
}

.form *::-webkit-scrollbar-track {
    background: var(--scroll-border-color);
}

.form *::-webkit-scrollbar-thumb {
    /* border: 3px solid var(--scroll-border-color); */

    border: none;
    border-radius: 20px;
    background-color: var(--scroll-bg);
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

html {
    height: 100%;

    background: #f5f5f5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font: 18px var(--font_family);

    height: 100%;

    color: #272a34;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

body.lock {
    overflow: hidden;

    margin-right: var(--scroll_width) !important;
}

.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.cont {
    width: 100%;
    max-width: 1192px;
    margin: 0 auto;
    padding: 0 6px;
}

.compensate-for-scrollbar {
    margin-right: var(--scroll_width) !important;
}

.lozad {
    transition: .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}

.flex {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}

::-webkit-input-placeholder {
    color: #272a34;
}

:-moz-placeholder {
    color: #272a34;
}

:-ms-input-placeholder {
    color: #272a34;
}

.btns {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: calc(var( --margin-bottom, 0) * -1);
    margin-left: calc(var( --margin-left, 0) * -1);

    --margin-left: 12px;
    --margin-bottom: 20px;
}

.btns > * {
    margin-top: 14px;
    margin-bottom: var(--margin-bottom, 0);
    margin-left: var(--margin-left, 0);
}

.btns .sep {
    font-size: 300px;
    font-size: 16px;
    line-height: 1.2;

    text-transform: uppercase;
}

.btns .link_btn > * {
    min-width: 324px;
    height: 50px;
}

.form {
    --font-size: 16px;
    --field-color: #272a34;
    --field-bg: transparent;
    --field-font-wight: 400;
    --field-shadow: none;
    --field-height: 50px;
    --field-border-width: 1px;
    --field-border-color: #d0d0d0;
    --field-border-radius: 3px;
    --label-color: #7e7f82;
}

.form-label {
    font-size: 14px;
    font-weight: 300;
    line-height: normal;

    margin-bottom: 6px;

    color: var(--label-color);
}

.form .line_flex {
    justify-content: space-between;
}

.form-line {
    margin-bottom: 5px;
}

.form .line_flex .line_form {
    width: calc(50% - 15px);
}

.form .input {
    font: var(--field-font-wight) var( --font-size) var( --font_family);

    display: block;

    width: 100%;
    height: var(--field-height, 50px);
    padding: 0 16px;

    transition: .2s linear;

    color: var(--field-color);
    border: var(--field-border-width, 1px) solid var( --field-border-color, #d0d0d0);
    border-radius: var(--field-border-radius);
    background: var(--field-bg, transparent);
    box-shadow: var(--field-shadow, none);
}

.form textarea {
    font: var(--field-font-wight) var( --font-size) var( --font_family);

    display: block;

    width: 100%;
    height: 177px;
    padding: 18px 24px;

    resize: none;
    transition: .2s linear;

    color: var(--field-color);
    border: var(--field-border-width, 1px) solid var( --field-border-color, #d0d0d0);
    border-radius: var(--field-border-radius);
    background: var(--field-bg, transparent);
    box-shadow: var(--field-shadow, none);
}

.form .input:focus::placeholder,
.form textarea:focus::placeholder {
    color: transparent;
}

.form .success,
.form .success + .custom-select .current {
    border-color: green;
}

.form .error,
.form .error + .custom-select .current {
    border-color: red;
}

.form .input:disabled,
.form textarea:disabled,
.checkbox .label_check input[type=checkbox]:disabled + .check_text {
    cursor: default;
    pointer-events: none;

    opacity: .5;
}

.form .error_text {
    font-size: 12px;
    line-height: normal;

    margin-top: 6px;

    color: red;
}

.form .agree {
    font-size: 12px;
    line-height: 24px;

    margin-top: 14px;

    text-align: center;

    color: #272a34;
}

.form .agree a {
    position: relative;

    display: inline-block;

    transition: .2s linear;
    text-decoration: none;

    color: #4d8eff;
}

.form .agree a:after {
    position: absolute;
    bottom: 4px;
    left: 0;

    width: 100%;
    height: 1px;

    content: '';

    background: currentColor;
}

.form .agree a:hover {
    color: #111;
}

.form-message {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    margin-bottom: 9px;
    padding: 13px 16px;

    color: #fff;
    border-radius: 3px;
    background-color: rgb(77, 142, 255);
}

.custom-select {
    display: block;

    width: 100%;
}

.custom-select select {
    display: none !important;
}

.custom-select__box {
    font-family: var(--font_family);
    font-size: var(--font-size, 14px);
    font-weight: 500;
    line-height: calc(var( --field-height, 42px) - var( --field-border-width, 2px) * 2);

    position: relative;

    display: block;

    box-sizing: border-box;
    width: 100%;
    height: var(--field-height, 42px);
    padding-right: 35px;
    padding-left: 16px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: left;
    white-space: nowrap;

    color: #4d8eff;
    border: solid var(--field-border-width, 1px) var( --field-border-color, #e0e7ee);
    border-radius: var(--field-border-radius, 5px);
    outline: none;
    background-color: var(--field-bg, #fff);

    -webkit-tap-highlight-color: transparent;
}

.custom-select__box:after {
    position: absolute;
    top: 50%;
    right: 12px;

    display: block;

    width: 5px;
    height: 5px;
    margin-top: -4px;

    content: '';
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    pointer-events: none;

    border-right: 2px solid #90a1b5;
    border-bottom: 2px solid #90a1b5;
}

.custom-select__box.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.custom-select--city .custom-select__box:after,
.custom-select--city .custom-select__box.open:after {
    right: 14px;

    width: 17px;
    height: 25px;
    margin-top: -12px;

    transform: none;
    transform-origin: none;

    border: none;
    background: url('../images/ic-marker.png') 0 0 no-repeat;
}

.custom-select__box .list {
    position: absolute;
    z-index: 9;
    top: 100%;
    right: -1px;
    left: -1px;

    overflow: hidden;

    box-sizing: border-box;
    margin-top: 2px;
    padding: 0;
    padding: 5px 0;

    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25) , opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25) , opacity 0.15s ease-out;
    -webkit-transform: scale(0.75) translateY( -21px);
    -ms-transform: scale(0.75) translateY( -21px);
    transform: scale(0.75) translateY( -21px);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    pointer-events: none;

    opacity: 0;
    color: #272a34;
    border-radius: var(--field-border-radius, 5px);
    background-color: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
}

.custom-select__box.open .list {
    -webkit-transform: scale(1) translateY( 0);
    -ms-transform: scale(1) translateY( 0);
    transform: scale(1) translateY( 0);
    pointer-events: auto;

    opacity: 1;
}

.custom-select__box.open .list.scroll {
    overflow-y: scroll;

    max-height: 400px;
}

.custom-select__box .list .option {
    font-weight: 500;
    line-height: 32px;

    min-height: 40px;
    padding: 4px 15px;

    list-style: none;

    cursor: pointer;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-align: left;

    outline: none;
}

.custom-select__box .list .option span {
    transition: border-color .2s linear;

    border-bottom: 1px solid transparent;
}

.custom-select__box .list .option.selected {
    color: #4d8eff;
}

.custom-select__box .list .option.selected span {
    border-color: currentColor;
}

.custom-select__box .list .option:hover {
    color: #4d8eff;
}

.custom-select__box .list .option.disabled {
    cursor: default;

    color: #90a1b5;
}

.text_block {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.text_block b {
    font-weight: 500;
}

.text_block > :last-child {
    margin-bottom: 0 !important;
}

.text_block h1,
.text_block > .title {
    font-family: var(--font_family);
    font-size: 30px;
    font-weight: 300;
    line-height: var(--line_height_title);

    margin-bottom: 20px;

    color: currentColor;
}

.page_title {
    font-family: var(--font_family);
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;

    padding: 0 40px;

    color: currentColor;
}

.text_block ul,
.text_block ol,
.text_block p {
    margin-bottom: 24px;
}

.text_block img {
    display: block;

    max-width: 100%;
    margin-bottom: 24px;

    border-radius: 3px;
}

.text_block img.left {
    width: calc(50% - 30px);
    margin-right: 30px;
}

.text_block img.right {
    width: calc(50% - 30px);
    margin-left: 30px;
}

.text_block ul li {
    position: relative;

    display: block;

    list-style-type: none;

    text-indent: 16px;
}

.text_block ul li:before {
    position: absolute;
    top: 10px;
    left: 0;

    width: 6px;
    height: 6px;

    content: '';

    border-radius: 50%;
    background: currentColor;
}

.text_block ol {
    counter-reset: li;
}

.text_block ol li {
    position: relative;

    display: block;

    list-style-type: none;
}

.text_block ol li:before {
    display: inline;

    margin-right: 3px;

    content: counter(li) '.';
    counter-increment: li;

    color: currentColor;
}

.text_block ol li + li {
    margin-top: 8px;
}

.text_block a {
    transition: .2s linear;
    text-decoration: none;

    color: #4d8eff;
    border-bottom: 1px solid;
}

.text_block a:hover {
    color: #387df6;
}

.breadcrumbs {
    line-height: normal;

    margin-top: 8px;

    color: var(--color2);
}

.breadcrumbs a {
    transition: .2s linear;
    text-decoration: none;

    color: var(--color2);
}

.breadcrumbs a:hover {
    color: var(--color3);
}

.breadcrumbs .sep {
    display: inline-block;

    margin: 0 4px;

    vertical-align: middle;
}

.breadcrumbs .sep svg {
    display: block;

    width: 8px;
    height: 8px;

    fill: var(--color2);
}

.supports_error {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;

    display: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;
}

.supports_error.show {
    display: flex;
}

.main_title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

.main_title.center {
    text-align: center;
}

.page_content {
    padding-bottom: 20px;
}

.page_content.sect-marg {
    margin-top: 14px;
}

.link_btn > * {
    font-family: var(--font_family);
    font-size: 16px;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    height: 46px;
    padding: 0 30px;

    cursor: pointer;
    transition: .2s linear;
    text-decoration: none;

    color: var(--btn-color);
    border: none;
    border-radius: 50px;
    background: var(--btn-bg);
}

.link_btn > *:hover {
    background: var(--btn-bg--hover);
}

.link_btn--purple > * {
    background: #968fff;
}

.link_btn--purple > *:hover {
    background: #7f77f9;
}

.link_btn--orange > * {
    background: #ff930c;
}

.link_btn--orange > *:hover {
    background: #ff8200;
}

.link_btn--blue > * {
    background: #5865f2;
}

.link_btn--blue > *:hover {
    background: #4251f7;
}

.link_btn--outlined > * {
    padding: 0 30px;

    color: #000;
    border: 1px solid #d0d0d0;
    background: none;
}

.link_btn--outlined > *:hover {
    border-color: #acacac;
    background: none;
}

.sect-marg {
    margin-top: 20px;
}

.main-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.main-title--center {
    text-align: center;
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
}

* + .subtitle {
    margin-top: 7px;
}

.subtitle--center {
    text-align: center;
}

.simple-rating__items {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}

.simple-rating__item {
    width: 24px;
    padding-right: 6px;

    cursor: pointer;
    text-decoration: none;
}

.simple-rating__item:last-child {
    padding-right: 0;
}

.simple-rating__item input {
    display: none;
}

.simple-rating__item svg {
    display: block;

    width: 100%;

    transition: .2s linear;

    color: #d1d1d2;
}

.simple-rating__item.hover svg,
.simple-rating__item.active svg {
    color: #77a9ff;
}

.pagination {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination.sect-marg {
    margin-top: 38px;
}

.pagination a {
    font-size: 14px;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 5px;

    transition: .2s linear;
    text-decoration: none;

    color: #929396;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
}

.pagination a + a {
    margin-left: 5px;
}

.pagination a:hover {
    color: #fff;
    border-color: #72a2f6;
    background: #72a2f6;
}

.pagination a.active {
    color: #fff;
    border-color: #4d8eff;
    background: #4d8eff;
}

/*
--------------
    Slider controls
---------------
*/

.swiper {
    --swiper-pagination-color: #dcdcdc;
    --swiper-pagination-bullet-size: 16px;
    --swiper-pagination-bullet-inactive-color: #e5e5e5;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bottom: 14px;
}

.swiper-pagination {
    height: 19px;

    text-align: right;
}

.swiper-pagination-bullet {
    line-height: 16px;

    transition: .2s linear;
}

/*
--------------
   Header
---------------
*/

header {
    position: relative;
    z-index: 50;
}

header .cont {
    align-content: center;
    align-items: center;
    justify-content: space-between;

    height: 84px;
    padding-top: 15px;
    padding-bottom: 15px;
}

header .cont > * + * {
    margin-left: 7px;
}

header .logo {
    width: 110px;
    margin-right: 10px;
}

header .logo a {
    display: inline-block;
}

header .logo img {
    display: block;

    max-width: 100%;
}

header .logo-mob {
    display: none;
    align-content: center;
    align-items: center;
    justify-content: center;

    width: 25px;
    margin-right: auto;
}

header .logo-mob a {
    display: inline-block;
}

header .logo-mob img {
    display: block;

    max-width: 100%;
}

header .wrap_menu {
    margin-right: auto;
}

header .wrap_menu .link_btn {
    display: none;
}

header .menu .item {
    font-size: 16px;
    line-height: 1.2;

    color: #000;
}

header .menu > .item + .item {
    margin-left: 12px;
}

header .menu > .item > a {
    position: relative;

    transition: .2s linear;
    text-decoration: none;

    color: #000;
}

header .menu > .item > a:hover,
header .menu > .item--more:hover > a {
    color: #4d8eff;
}

header .menu .item--more {
    position: relative;
}

header .menu .item--more > a {
    padding-right: 20px;

    transition: .2s linear color;
}

header .menu .item > a > span {
    transition: .2s linear border-color;

    border-bottom: 1px solid transparent;
}

header .menu .item:hover > a span {
    border-color: #4d8eff;
}

header .menu .item--more > a:before {
    position: absolute;
    top: 50%;
    right: 0;

    width: 14px;
    height: 8px;
    margin-top: -4px;

    content: '';
    transition: .2s linear;

    background: url('../images/arrow-down.png') 0 0 no-repeat;
}

header .menu .item--more:hover > a:before,
header .menu .item--more.opened > a:before {
    transform: rotate(-180deg);
}

header .menu .item .submenu {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;

    visibility: hidden;

    width: 350px;
    padding: 0 16px;

    transition: .2s linear;

    opacity: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
}

header .menu .item:hover .submenu {
    visibility: visible;

    opacity: 1;
}

header .menu .item .submenu:before {
    position: absolute;
    top: -20px;
    left: 0;

    width: 100%;
    height: 20px;

    content: '';
}

header .menu .item .submenu .item + .item {
    border-top: 1px solid #dfdfdf;
}

header .menu .item .submenu .item a {
    font-size: 16px;

    position: relative;

    display: block;

    padding: 17px 12px;
    min-height: 70px;
    padding-right: 25px;

    transition: .2s linear;
    text-decoration: none;

    color: #272a34;
}

header .menu .item .submenu .item a:hover {
    color: #4d8eff;
}

header .menu .item .submenu .item a div {
    font-size: 12px;
    font-weight: 300;

    margin-top: 2px;

    color: #848484;
}

header .menu .item .submenu .item a:after {
    position: absolute;
    top: 50%;
    right: 10px;

    width: 14px;
    height: 14px;
    margin-top: -7px;

    content: '';
    transition: .2s linear;
    transform: rotate(45deg);

    border-top: 2px solid #b4b4b4;
    border-right: 2px solid #b4b4b4;
}

header .menu .item .submenu .item a:hover:after {
    border-color: #4d8eff;
}

header .link_office {
    font-size: 16px;
    font-weight: 300;

    position: relative;

    margin-right: 12px;
    padding-left: 24px;

    transition: .2s linear;
    text-decoration: none;

    color: #272a34;
}

header .link_office:before {
    position: absolute;
    top: 50%;
    left: 0;

    width: 17px;
    height: 25px;
    margin-top: -12px;

    content: '';

    background: url('../images/ic-marker.png') 0 0 no-repeat;
}

header .link_office:hover {
    color: #4d8eff;
}

header .link_office span {
    border-bottom: 1px solid currentColor;
}

header .lang_links {
    position: relative;
}

header .lang_links a {
    position: relative;

    display: block;

    width: 40px;
    height: 40px;
    padding: 4px;

    cursor: pointer;
    transition: .2s linear;
    text-decoration: none;

    border: 1px solid #4d8eff;
    border-radius: 50%;
}

header .lang_links a img {
    display: block;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    border-radius: 50%;
}

header .lang_links .hidden_lang {
    position: absolute;
    top: 100%;
    left: 50%;

    visibility: hidden;

    padding-top: 3px;

    transition: .2s linear;
    transform: translateX(-50%);

    opacity: 0;
}

header .lang_links:hover .hidden_lang {
    visibility: visible;

    opacity: 1;
}

header .lang_links .hidden_lang a {
    border-color: transparent;
}

header .lang_links .hidden_lang a:hover {
    border-color: #4d8eff;
}

header .link_tg {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    padding: 5px;

    transition: .2s linear;

    color: var(--btn-color);
    border-radius: 50%;
    background: var(--btn-bg);
}

header .link_tg img {
    display: block;

    max-width: 100%;
    max-height: 100%;
    margin-left: -2px;
}

header .link_tg:hover {
    background: var(--btn-bg--hover);
}

header .link_btn a {
    font-size: 16px;
    font-weight: 500;

    height: 40px;
    padding: 0 20px;
}

header .link-office-menu {
    font-size: 16px;
    line-height: 24px;

    position: relative;

    display: none;

    padding: 8px 56px;

    transition: .2s linear;
    text-decoration: none;

    color: #272a34;
    border-radius: 3px;
    background: #f1f6ff;
}

header .link-office-menu:before {
    position: absolute;
    top: 50%;
    left: 20px;

    width: 14px;
    height: 20px;
    margin-top: -12px;

    content: '';

    background: url('../images/ic-marker.png') 0 0 no-repeat;
    background-size: contain;
}

header .link-office-menu:after {
    position: absolute;
    top: 50%;
    right: 14px;

    width: 14px;
    height: 14px;
    margin-top: -7px;

    content: '';
    transition: .2s linear;
    transform: rotate(45deg);

    border-top: 2px solid #4d8eff;
    border-right: 2px solid #4d8eff;
}

header .link-office-menu:hover:after {
    right: 10px;
}

header .link-office-menu__small-text {
    font-size: 300px;
    font-size: 14px;

    display: block;

    color: #848484;
}

.mob_menu_link {
    position: relative;
    z-index: 70;

    display: none;

    width: 24px;
    height: 20px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 2px;

    cursor: pointer;
    transition: .2s linear;

    border: none;
    background: none;
}

header .cont .mob_menu_link {
    margin-left: 15px;
}

.mob_menu_link span {
    position: relative;

    display: block;

    width: 100%;
    height: 2px;

    transition: .2s linear;

    background: #4d8eff;
}

.mob_menu_link span + span {
    margin-top: 5px;
}

.mob_menu_link.active span:nth-child(2) {
    opacity: 0;
}

.mob_menu_link.active span:nth-child(1) {
    top: 7px;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mob_menu_link.active span:nth-child(3) {
    top: -7px;

    width: 100%;

    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

    opacity: 1;
}

/*
--------------
   Main section
---------------
*/
.main_slider .cont {
    max-width: 1094px;
}

.main_slider .slide {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 36px 56px 47px 32px;
}

.main_slider .slide .data {
    width: 55%;
    min-height: 310px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
}

.main_slider .slide .title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

.main_slider .slide .info {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    min-height: 96px;

    margin-top: 23px;
    margin-bottom: auto;
}

.main_slider .slide .link_btn {
    margin-top: 35px;
}

.main_slider .slide .link_btn a {
    font-size: 20px;
    font-weight: 500;

    display: inline-flex;

    height: 60px;
    padding: 0 47px;
    min-width: 300px;
}

.main_slider .slide .img {
    width: calc(45% - 26px);
}

.main_slider .slide .img img {
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.catalog .grid {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: calc(var( --margin-bottom, 0) * -1);
    margin-left: calc(var( --margin-left, 0) * -1);

    --margin-left: 20px;
    --margin-bottom: 20px;
    --items: 3;
}

.catalog .item {
    position: relative;

    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;

    width: calc(100% / var( --items, 1) - var( --margin-left, 0) );
    margin-bottom: var(--margin-bottom, 0);
    margin-left: var(--margin-left, 0);
}

.catalog .item .tag {
    font-size: 10px;
    font-weight: 500;

    position: absolute;
    z-index: 5;
    top: -8px;
    right: 7px;

    max-width: calc(100% - 16px);
    padding: 1px 8px;

    color: #fff;
    border-radius: 3px;
    background: #4d8eff;
}

.catalog .item .img {
    position: relative;

    display: block;
    overflow: hidden;
    flex-shrink: 0;

    width: 100%;
    padding-bottom: 47.4%;

    border-radius: 3px;
}

.catalog .item .img img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 10px;
    height: 100%;
    min-height: 10px;

    transition: .2s linear;

    border-radius: 3px;

    object-fit: cover;
    object-position: 50% 50%;
}

.catalog .item .img:hover img {
    transform: scale(1.1);
}

.catalog .item .data {
    display: flex;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 6px;
    padding: 3px 6px;

    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
}

.catalog .item .data .name {
    font-size: 16px;
    line-height: 24px;

    width: calc(100% - 167px);
}

.catalog .item .data .name div {
    font-size: 12px;

    color: #7e7f82;
    font-weight: 300;
}

.catalog .item .data .link_btn {
    width: 152px;
}

.catalog .item .data .link_btn a {
    font-size: 14px;
    font-weight: 300;

    height: 36px;
    padding: 0 15px;
}

.border_btn {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;

    display: block;

    padding: 15px;

    transition: .2s linear;
    text-align: center;
    text-decoration: none;

    color: #6a6a6a;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
}

.border_btn:hover {
    color: #4f4f4f;
    border-color: #acacac;
}


.block_banner .box {
    position: relative;

    min-height: 215px;
    padding: 25px 44px;
    padding-right: 410px;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
}

.block_banner .box .data {
    max-width: 600px;
}

.block_banner .title {
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;

    color: #272a34;
}

.block_banner * + .text {
    margin-top: 11px;
}

.block_banner .text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    min-height: 48px;

    max-width: 475px;
}

.block_banner * + .link_btn {
    margin-top: 30px;
}

.block_banner .link_btn a {
    display: inline-flex;

    padding: 0 70px;
    min-width: 230px;
}

.block_banner .box .img {
    position: absolute;
    top: 17px;
    right: 30px;

    width: 365px;
}

.block_banner .img img {
    display: block;

    width: 100%;
    max-width: 100%;
}


.news .grid {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: calc(var( --margin-bottom, 0) * -1);
    margin-left: calc(var( --margin-left, 0) * -1);

    --margin-left: 20px;
    --margin-bottom: 20px;
    --items: 2;
}

.news-item {
    position: relative;

    width: calc(100% / var( --items, 1) - var( --margin-left, 0) );
    min-height: 308px;
    margin-bottom: var(--margin-bottom, 0);
    margin-left: var(--margin-left, 0);
    padding: 47px 45px;
    padding-right: 240px;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
}

.news-item__data {
    position: relative;
    z-index: 5;
    width: 100%;
}

.news-item__title {
    font-size: 28px;
    line-height: 32px;
    min-height: 64px;
    font-weight: 500;

    color: #000;
}

* + .news-item__text {
    margin-top: 15px;
}

.news-item__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    min-height: 72px;

    max-width: 230px;
}

* + .news-item__btn {
    margin-top: 16px;
}

.news-item__btn a {
    display: inline-flex;
    min-width: 152px;
    font-weight: 500;
}

.news-item__img {
    position: absolute;
    top: 0;
    right: 45px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 214px;
    height: 100%;
    padding: 15px 0;
}

.news-item__img img {
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.promotions .grid {
    margin-bottom: calc(var( --margin-bottom, 0) * -1);
    margin-left: calc(var( --margin-left, 0) * -1);

    --margin-left: 20px;
    --margin-bottom: 20px;
    --items: 4;
}

.promotion-item {
    position: relative;

    width: calc(100% / var( --items, 1) - var( --margin-left, 0) );
    margin-bottom: var(--margin-bottom, 0);
    margin-left: var(--margin-left, 0);
    padding: 17px 20px 20px;

    text-align: center;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
    min-height: 198px;
}

.promotion-item__bonus {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2;

    position: absolute;
    top: -7px;
    right: 11px;

    max-width: calc(100% - 22px);
    padding: 2px 6px;

    color: #fff;
    border-radius: 3px;
    background-color: #ca0f0f;
}

.promotion-item__logo {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    height: 68px;
}

.promotion-item__logo a {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    height: 100%;
}

.promotion-item__logo img {
    display: block;

    max-width: 100%;
    max-height: 100%;

    transition: .2s linear;
}

.promotion-item__logo a:hover img {
    transform: translateY(-4px);
}

* + .promotion-item__title {
    margin-top: 20px;
}

.promotion-item__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.promotion-item__title a {
    transition: .2s linear;
    text-decoration: none;

    color: currentColor;
    border-bottom: 1px solid transparent;
}

.promotion-item__title a:hover {
    border-color: currentColor;
}

* + .promotion-item__desc {
    margin-top: 7px;
}

.promotion-item__desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    min-height: 40px;
}

.sect_form {
    margin-top: 54px;
}

.sect_form .cont {
    max-width: 772px;
}

.sect_form .form {
    margin-top: 27px;
}

.sect_map {
    margin-top: 50px;
}

.sect_map .map {
    position: relative;

    display: block;

    width: 100%;
    height: 213px;

    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
}

.cities .grid {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: calc(var( --margin-bottom, 0) * -1);
    margin-left: calc(var( --margin-left, 0) * -1);

    --margin-left: 20px;
    --margin-bottom: 20px;
    --items: 4;
}

.cities-item {
    font-family: var(--font_family);
    font-size: 16px;
    font-weight: 500;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;

    width: calc(100% / var( --items, 1) - var( --margin-left, 0) );
    margin-bottom: var(--margin-bottom, 0);
    margin-left: var(--margin-left, 0);
    padding: 8px 13px 7px;
    min-height: 40px;

    cursor: pointer;
    text-decoration: none;

    color: #4d8eff;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.cities-item .icon {
    display: flex;
    align-content: center;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    width: 17px;
    height: 25px;
    margin-right: 13px;

    transition: .2s linear;

    color: currentColor;
}

.cities-item .icon svg {
    display: block;

    max-width: 100%;
    max-height: 100%;
}

.cities-item:hover {
    color: #387df6;
}

.cities-item--disabled {
    color: #818181;
}

.cities-item--disabled:hover {
    color: #6a6a6a;
}

.reviews .slider {
    margin: -10px;
    padding: 10px;
}

.reviews .grid{
    --margin-left: 20px;
    --margin-bottom: 20px;
    --items: 4;
    
    margin-left: calc(var(--margin-left, 0) * -1);
    margin-bottom: calc(var(--margin-bottom, 0) * -1);
}

.review {
    position: relative;

    padding: 20px 13px;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
    
    margin-left: var(--margin-left, 0);
    margin-bottom: var(--margin-bottom, 0);
    width: calc(100% / var(--items, 1) - var(--margin-left, 0));
}

.review__tag {
    font-size: 10px;
    font-size: 10px;
    font-weight: 600;
    line-height: 1.2;

    position: absolute;
    top: -7px;
    right: 12px;

    max-width: calc(100% - 24px);
    padding: 2px 7px;

    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background: #86ca0f;
}

.review .photo {
    position: relative;

    width: 64px;
    height: 64px;
    margin: 0 auto;

    border-radius: 3px;
}

.review .photo img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 10px;
    height: 100%;
    min-height: 10px;

    border-radius: 3px;

    object-fit: cover;
    object-position: 50% 50%;
}

.review * + .name {
    margin-top: 10px;
}

.review .name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;

    text-align: center;

    color: #86ca0f;
}

.review .small_info {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;

    margin-top: 5px;

    text-align: center;

    color: #7e7f82;
}

.review .text {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;

    margin-top: 12px;
    text-indent: 15px;
}

.review .simple-rating {
    margin-top: 20px;
}

.accordion .item {
    cursor: pointer;

    border-top: 1px solid #dfdfdf;
}

.accordion .item:last-child {
    border-bottom: 1px solid #dfdfdf;
}

.accordion .item .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    position: relative;

    padding: 20px 0;
    padding-right: 50px;

    transition: .2s linear;
}

.accordion .item.active .title {
    color: #4d8eff;
}

.accordion .item .title .icon {
    position: absolute;
    top: 50%;
    right: 14px;

    width: 24px;
    height: 24px;
    margin-top: -12px;

    transition: .2s linear;
}

.accordion .item .title .icon:before {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 100%;

    content: '';
    transform: translate(-50%, -50%);

    background: #979797;
}

.accordion .item .title .icon:after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 2px;

    content: '';
    transform: translate(-50%, -50%);

    background: #979797;
}

.accordion .item.active .title .icon {
    transform: rotate(45deg);
}

.accordion .item .data {
    overflow: hidden;

    transition: height .3s ease;
}

.accordion .item:not(.active) .data {
    display: none;
}

.accordion .item .text_block {
    padding-bottom: 20px;
}

.faq .btns {
    margin-top: 66px;
}

.contacts__grid {
    margin-bottom: calc(var( --margin-bottom, 0) * -1);
    margin-left: calc(var( --margin-left, 0) * -1);

    --margin-left: 20px;
    --margin-bottom: 20px;
    --items: 2;
}

.contacts-item {
    width: calc(100% / var( --items, 1) - var( --margin-left, 0) );
    margin-bottom: var(--margin-bottom, 0);
    margin-left: var(--margin-left, 0);
    padding: 8px 8px 20px;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
}

.contacts-item--wide {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;

    width: calc(100% - var( --margin-left, 0) );
    padding: 0;

    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.contacts-item--wide > * {
    width: 50%;
    width: calc(100% / var( --items, 1) - var( --margin-left, 0) / 2);
}

.contacts-item__map {
    overflow: hidden;

    height: 194px;

    border-radius: 3px;
}

.contacts-item--wide .contacts-item__map {
    height: auto;
}

.contacts-item__data{
    margin-top: 8px;
    min-height: 352px;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
}

.contacts-item--wide .contacts-item__data {
    padding: 8px 8px 20px;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
    min-height: 380px;
    margin-top: 0;
}

.contacts-item .link-office-menu {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    position: relative;

    display: block;

    margin-bottom: 10px;
    padding: 8px 56px;
    padding-right: 15px;

    transition: .2s linear;
    text-decoration: none;

    color: #4d8eff;
    border-radius: 3px;
    background: #f1f6ff;
}

.contacts-item .link-office-menu:before {
    position: absolute;
    top: 50%;
    left: 20px;

    width: 14px;
    height: 20px;
    margin-top: -12px;

    content: '';

    background: url('../images/ic-marker.png') 0 0 no-repeat;
    background-size: contain;
}

.contacts-item .link-office-menu__small-text {
    font-weight: 300;

    display: block;

    color: #848484;
}

.contacts-item .text_block {
    padding: 0 8px;
    min-height: 216px;
}

.contacts-item .btns {
    justify-content: space-between;

    margin-left: 0;
    padding: 0 16px;

    --margin-left: 16px;
    margin-top: auto;
}

.contacts-item .btns > * {
    width: calc(50% - var( --margin-left) / 2);
    margin-left: 0;
}

.contacts-item .btns .link_btn > * {
    font-size: 14px;

    width: 100%;
    min-width: 1px;
    height: 40px;
    padding: 0 15px;
}

.contacts-item .link_btn--blue > * {
    background: #4d8eff;
}

.contacts-item .link_btn--blue > *:hover {
    background: #387df6;
}

.news-page__box {
    padding: 22px 38px 31px;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
}

.news-page-item + .news-page-item {
    margin-top: 18px;
}

.news-page-item__head {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: calc(var( --margin-bottom, 0) * -1);
    margin-left: calc(var( --margin-left, 0) * -1);

    --margin-left: 30px;
    --margin-bottom: 28px;
}

.news-page-item__head > * {
    margin-bottom: var(--margin-bottom, 0);
    margin-left: var(--margin-left, 0);
}

.news-page-item__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.news-page-item__title a {
    transition: .2s linear;
    text-decoration: none;

    color: currentColor;
    border-bottom: 1px solid transparent;
}

.news-page-item__title a:hover {
    color: #4d8eff;
    border-color: currentColor;
}

.news-page-item__date {
    font-size: 12px;
    font-weight: 300;

    color: #7e7f82;
}

.news-page-item__img {
    position: relative;

    display: block;

    width: 100%;
    margin-top: 25px;
    padding-bottom: 20.653%;

    border-radius: 3px;
}

.news-page-item__img img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 10px;
    height: 100%;
    min-height: 10px;

    border-radius: 3px;

    object-fit: cover;
    object-position: 50% 50%;
}

.news-page-item__text {
    font-size: 14px;

    margin-top: 23px;
}

/*
--------------
   Footer
---------------
*/

footer {
    font-size: 14px;
    font-weight: 300;

    flex: 0 0 auto;

    margin-top: 80px;
    padding-bottom: 30px;
}

footer .cont {
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

footer .cont > * {
    width: calc(50% - 30px);
}

footer .cont .col_r {
    max-width: 440px;
}

footer .phone {
    font-size: 24px;
    font-weight: 500;

    margin-top: 5px;
}

footer .phone a {
    transition: .2s linear;
    text-decoration: none;

    color: currentColor;
}

footer .phone a:hover {
    color: #4d8eff;
}

footer .menu {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;

    margin-bottom: calc(var( --margin-bottom, 0) * -1);
    margin-left: calc(var( --margin-left, 0) * -1);

    --margin-left: 15px;
    --margin-bottom: 10px;
    --items: 2;
}

footer .menu .item {
    width: calc(100% / var( --items, 1) - var( --margin-left, 0) );
    margin-bottom: var(--margin-bottom, 0);
    margin-left: var(--margin-left, 0);
}

footer .menu .item a {
    transition: .2s linear;
    text-decoration: none;

    color: currentColor;
    border-bottom: 1px solid transparent;
}

footer .menu .item a:hover {
    color: #4d8eff;
    border-color: #4d8eff;
}

/*
--------------
   PopUp
---------------
*/

.modal {
    font-size: 0;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: block;
    visibility: hidden;
    overflow: auto;

    width: 100%;
    height: 100%;
    padding: 15px;

    transition: .2s linear;
    text-align: center;
    white-space: normal;

    opacity: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.visible {
    visibility: visible;

    opacity: 1;
}

.modal:before {
    font-size: 0;

    display: inline-block;

    width: 0;
    height: 100%;
    margin: 0;
    padding: 0;

    content: '';
    vertical-align: middle;
}

.modal__dialog {
    position: relative;

    display: inline-block;

    max-width: 100%;
    margin: 0;

    text-align: left;
    vertical-align: middle;

    -webkit-overflow-scrolling: touch;
}

.modal__content {
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 680px;
    max-width: 100%;
    padding: 25px 24px 17px;

    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: #fff;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 18px;
    height: 18px;

    cursor: pointer;
    transition: .2s linear;
}

.modal__close:hover {
    transform: rotate(180deg);
}

.modal__close:before {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 2px;

    content: '';
    transform: translate(-50%, -50%) rotate( -45deg);

    background: #989898;
}

.modal__close:after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 2px;

    content: '';
    transform: translate(-50%, -50%) rotate( 45deg);

    background: #989898;
}

.modal__data {
    position: relative;
    z-index: 5;

    max-width: 400px;
}

.modal__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.modal__desc {
    font-size: 280px;
    font-size: 16px;
    line-height: 24px;

    margin-top: 18px;

    letter-spacing: -0.6px;
}

.modal__img {
    position: absolute;
    top: 58px;
    right: 4px;

    width: 365px;
}

.modal__img img {
    display: block;

    width: 100%;
}

.modal .link_btn {
    width: 264px;
    margin-top: 35px;
}

.modal .timer {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    width: 264px;
    margin-top: 12px;

    text-align: center;

    color: #999999;
}
