*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after{
    box-sizing: border-box;
}

img{
    border: none;
}

textarea{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active{
    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input[type=submit],
button[type=submit],
input[type=reset],
button[type=reset]{
    -webkit-appearance: none;
    appearance: none;
}

:focus{
    outline: none;
}

:hover,
:active{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear{
    display: none;
}



/*---------------
    Main styles
---------------*/
:root{
    --scroll_width: 17px;
    --font_family: 'Noto Sans', sans-serif;

    --btn-bg: #4d8eff;
    --btn-color: #fff;
    --btn-bg--hover: #387df6;
}


/* Работает в Firefox */
body * {
    --scroll-bg: #b3b3b3;
    --scroll-border-color: transparent;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bg) var(--scroll-border-color);
}

/* Работает в Chrome, Edge и Safari */
body *::-webkit-scrollbar {
    width: 4px;
}

body *::-webkit-scrollbar-track {
    background: var(--scroll-border-color);
}

body *::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bg);
    border-radius: 20px;
    /* border: 3px solid var(--scroll-border-color); */
    border: none;
}


.clear{
    clear: both;
}


.left{
    float: left;
}


.right{
    float: right;
}


html{
    height: 100%;

    background: #f5f5f5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


body{
    color: #272a34;
    font: 18px var(--font_family);

    height: 100%;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

body.lock{
    overflow: hidden;
}


.wrap{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-height: 100%;
}


.main{
    flex: 1 0 auto;
}


.cont{
    width: 100%;
    max-width: 1192px;
    margin: 0 auto;
    padding: 0 6px;
}


.compensate-for-scrollbar{
    margin-right: var(--scroll_width) !important;
}


.lozad{
    transition: .5s linear;

    opacity: 0;
}

.lozad.loaded{
    opacity: 1;
}


.flex{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


::-webkit-input-placeholder{
    color: #272a34;
}

:-moz-placeholder{
    color: #272a34;
}

:-ms-input-placeholder{
    color: #272a34;
}



.form{
    --font-size: 16px;

    --field-color: #272a34;
    --field-bg: transparent;
    --field-font-wight: 300;
    --field-shadow: none;
    --field-height: 50px;
    --field-border-width: 1px;
    --field-border-color: #d0d0d0;
    --field-border-radius: 3px;

    --label-color: #7e7f82;
}

.form-label{
    color: var(--label-color);
    font-size: 14px;
    font-weight: 300;
    line-height: normal;

    margin-bottom: 7px;
}

.form .line_flex{
    justify-content: space-between;
}

.form-line{
    margin-bottom: 8px;
}

.form .line_flex .line_form{
    width: calc(50% - 15px);
}

.form .input{
    color: var(--field-color);
    font: var(--field-font-wight) var(--font-size) var(--font_family);

    display: block;

    width: 100%;
    height: var(--field-height, 50px);
    padding: 0 16px;

    transition: .2s linear;

    border: var(--field-border-width, 1px) solid var(--field-border-color, #d0d0d0);
    background: var(--field-bg, transparent);
    box-shadow: var(--field-shadow, none);
    border-radius: var(--field-border-radius);
}

.form textarea{
    color: var(--field-color);
    font: var(--field-font-wight) var(--font-size) var(--font_family);

    display: block;

    width: 100%;
    height: 177px;
    padding: 18px 24px;

    resize: none;
    transition: .2s linear;

    border: var(--field-border-width, 1px) solid var(--field-border-color, #d0d0d0);
    border-radius: var(--field-border-radius);
    background: var(--field-bg, transparent);
    box-shadow: var(--field-shadow, none);
}

.form .success,
.form .success + .custom-select .current{
    border-color: green;
}

.form .error,
.form .error + .custom-select .current{
    border-color: red;
}


.form .input:disabled,
.form textarea:disabled,
.checkbox .label_check input[type=checkbox]:disabled + .check_text{
    cursor: default;
    pointer-events: none;

    opacity: .5;
}


.form .error_text{
    color: red;
    font-size: 12px;
    line-height: normal;

    margin-top: 6px;
}

.form .agree{
    color: #272a34;
    font-size: 12px;
    line-height: 1.2;

    margin-top: 20px;
    text-align: center;
}

.form .agree a{
    color: #4d8eff;

    display: inline-block;

    transition: .2s linear;
    text-decoration: none;
    border-bottom: 1px solid;
}

.form .agree a:hover{
    color: #111;
}

.form .btns{
    --margin-left: 12px;
    --margin-bottom: 20px;
    
    margin-left: calc(var(--margin-left, 0) * -1);
    margin-bottom: calc(var(--margin-bottom, 0) * -1);
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.form .btns > *{
    margin-top: 20px;
    
    margin-left: var(--margin-left, 0);
    margin-bottom: var(--margin-bottom, 0);
}

.form .btns .sep{
    font-size: 300px;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
}

.form-message{
    margin-bottom: 9px;
    padding: 13px 16px;
    border-radius: 3px;
    background-color: rgb(77, 142, 255);
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

.custom-select{
    display: block;
    width: 100%;
}

.custom-select select{
    display: none !important;
}

.custom-select__box{
    color: #4d8eff;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--field-bg, #fff);
    border-radius: var(--field-border-radius, 5px);
    border: solid var(--field-border-width, 1px) var(--field-border-color, #e0e7ee);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-family: var(--font_family);
    font-size: var(--font-size, 14px);
    font-weight: 500;
    height: var(--field-height, 42px);
    line-height: calc(var(--field-height, 42px) - var(--field-border-width, 2px) * 2);
    outline: none;
    padding-left: 16px;
    padding-right: 35px;
    position: relative;
    text-align: left;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

.custom-select__box:after{
    border-bottom: 2px solid #90a1b5;
    border-right: 2px solid #90a1b5;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.custom-select__box.open:after{
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.custom-select--city .custom-select__box:after,
.custom-select--city .custom-select__box.open:after{
    border: none;
    background: url('../images/ic-marker.png') 0 0 no-repeat;
    width: 17px;
    height: 25px;
    transform: none;
    transform-origin: none;
    margin-top: -12px;
    right: 14px;
}

.custom-select__box .list{
    color: #272a34;
    background-color: #fff;
    border-radius: var(--field-border-radius, 5px);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    margin-top: 2px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    padding: 5px 0;
    top: 100%;
    left: -1px;
    right: -1px;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}
  

.custom-select__box.open .list{
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.custom-select__box.open .list.scroll{
    overflow-y: scroll;
    max-height: 400px;
}

.custom-select__box .list .option{
    cursor: pointer;
    font-weight: 500;
    line-height: 32px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding: 4px 15px;
    text-align: left;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.custom-select__box .list .option span{
    border-bottom: 1px solid transparent;
    transition: border-color .2s linear;
}

.custom-select__box .list .option.selected{
    color: #4d8eff;
}

.custom-select__box .list .option.selected span{
    border-color: currentColor;
}

.custom-select__box .list .option:hover{
    color: #4d8eff;
}

.custom-select__box .list .option.disabled {
    color: #90a1b5;
    cursor: default;
}


.text_block{
    color: var(--text_color);
}

.text_block > :last-child{
    margin-bottom: 0 !important;
}

.text_block h1,
.text_block > .title{
    color: var(--color1);
    font-family: var(--font_family);
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: var(--line_height_title);

    margin-bottom: 20px;
}

.text_block p,
.text_block ul,
.text_block ol{
    margin-bottom: 25px;
}

.text_block img{
    display: block;

    max-width: 100%;
    margin-bottom: 25px;
}

.text_block img.left{
    width: calc(50% - 30px);
    margin-right: 30px;
}

.text_block img.right{
    width: calc(50% - 30px);
    margin-left: 30px;
}

.text_block ul li{
    position: relative;

    display: block;

    list-style-type: none;

    text-indent: 16px;
}

.text_block ul li:before{
    position: absolute;
    top: 8px;
    left: 0;

    width: 6px;
    height: 6px;

    content: '';

    border-radius: 50%;
    background: var(--bg2);
}

.text_block ol{
    counter-reset: li;
}

.text_block ol li{
    position: relative;

    display: block;

    list-style-type: none;
}

.text_block ol li:before{
    color: var(--color3);
    font-weight: 700;

    display: inline;

    content: counter(li)'.';
    counter-increment: li;
}

.text_block ol li + li{
    margin-top: 8px;
}

.text_block a{
    color: var(--color3);

    transition: .2s linear;
    text-decoration: none;

    border-bottom: 1px solid;
}

.text_block a:hover{
    color: var(--color1);
}


.breadcrumbs{
    color: var(--color2);
    line-height: normal;

    margin-top: 8px;
}

.breadcrumbs a{
    color: var(--color2);

    transition: .2s linear;
    text-decoration: none;
}

.breadcrumbs a:hover{
    color: var(--color3);
}

.breadcrumbs .sep{
    display: inline-block;

    margin: 0 4px;

    vertical-align: middle;
}

.breadcrumbs .sep svg{
    display: block;

    width: 8px;
    height: 8px;

    fill: var(--color2);
}


.supports_error{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show{
    display: flex;
}


.main_title{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

.main_title.center{
    text-align: center;
}


.link_btn{}

.link_btn > *{
    font-size: 16px;
    height: 46px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    background: var(--btn-bg);
    color: var(--btn-color);
    transition: .2s linear;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--font_family);
    border: none;
}

.link_btn > *:hover{
    background: var(--btn-bg--hover);
}

.link_btn--purple > *{
    background: #968fff;
}

.link_btn--purple > *:hover{
    background: #7f77f9;
}

.link_btn--orange > *{
    background: #ff930c;
}

.link_btn--orange > *:hover{
    background: #ff8200;
}

.link_btn--blue > *{
    background: #5865f2;
}

.link_btn--blue > *:hover{
    background: #4251f7;
}

.link_btn--outlined > *{
    background: none;
    border: 1px solid #d0d0d0;
    padding: 0 32px;
    color: #000;
}

.link_btn--outlined > *:hover{
    background: none;
    border-color: #acacac;
}


.sect-marg{
    margin-top: 20px;
}


.main-title{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

.main-title--center{
    text-align: center;
}

.subtitle{
    font-size: 16px;
    font-weight: 500;
}

* + .subtitle{
    margin-top: 7px;
}

.subtitle--center{
    text-align: center;
}

/*---------------
    Slider controls
---------------*/
.swiper{
    --swiper-pagination-color: #dcdcdc;
    --swiper-pagination-bullet-size: 16px;
    --swiper-pagination-bullet-inactive-color: #e5e5e5;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bottom: 14px;
}

.swiper-pagination{
    text-align: right;
    height: 19px;
}

.swiper-pagination-bullet{
    transition: .2s linear;
    line-height: 16px;
}

/*---------------
   Header
---------------*/
header{
    position: relative;
    z-index: 50;
}

header .cont{
    height: 84px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

header .cont > * + *{
    margin-left: 7px;
}

header .logo{
    width: 110px;
    margin-right: 10px;
}

header .logo a{
    display: inline-block;
}

header .logo img{
    display: block;
    max-width: 100%;
}

header .wrap_menu{
    margin-right: auto;
}

header .menu{}

header .menu .item{
    font-size: 16px;
    line-height: 1.2;
    color: #000;
}

header .menu > .item + .item{
    margin-left: 12px;
}

header .menu > .item > a{
    transition: .2s linear;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    position: relative;
}

header .menu > .item > a:hover,
header .menu > .item--more:hover > a,
header .menu > .item--more.active > a{
    color: #4d8eff;
    border-color: #4d8eff;
}

header .menu .item--more{
    position: relative;
}

header .menu .item--more > a{
    padding-right: 20px;
    border-color: transparent !important;
    transition: .2s linear color;
}

header .menu .item--more > a > span{
    border-bottom: 1px solid transparent;
    transition: .2s linear border-color;
}

header .menu .item--more:hover > a span,
header .menu .item--more.active > a span{
    border-color: #4d8eff;
}

header .menu .item--more > a:before{
    content: '';
    width: 14px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px;
    background: url('../images/arrow-down.png') 0 0 no-repeat;
    transition: .2s linear;
}

header .menu .item--more:hover > a:before,
header .menu .item--more.active > a:before{
    transform: rotate(-180deg);
}

header .menu .item .submenu{
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    width: 350px;
    padding: 0 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    transition: .2s linear;
    visibility: hidden;
    opacity: 0;
}  

header .menu .item:hover .submenu{
    opacity: 1;
    visibility: visible;
}

header .menu .item .submenu:before{
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 0;
}

header .menu .item .submenu .item + .item{
    border-top: 1px solid #dfdfdf;
}

header .menu .item .submenu .item a{
    padding: 20px 12px;
    padding-right: 25px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #272a34;
    transition: .2s linear;
    position: relative;
}

header .menu .item .submenu .item a:hover{
    color: #4d8eff;
}

header .menu .item .submenu .item a div{
    font-size: 12px;
    font-weight: 300;
    color: #848484;
    margin-top: 2px;
}

header .menu .item .submenu .item a:after{
    content: '';
    width: 14px;
    height: 14px;
    border-top: 2px solid #b4b4b4;
    border-right: 2px solid #b4b4b4;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
    transform: rotate(45deg);
    transition: .2s linear;
}

header .menu .item .submenu .item a:hover:after{
    border-color: #4d8eff;
}

header .link_office{
    font-size: 16px;
    font-weight: 300;
    position: relative;
    text-decoration: none;
    padding-left: 24px;
    color: #272a34;
    transition: .2s linear;
    margin-right: 12px;
}

header .link_office:before{
    content: '';
    width: 17px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    background: url('../images/ic-marker.png') 0 0 no-repeat;
}

header .link_office:hover{
    color: #4d8eff;
}

header .link_office span{
    border-bottom: 1px solid currentColor;
}

header .lang_links{
    position: relative;
}

header .lang_links a{
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 50%;
    display: block;
    text-decoration: none;
    position: relative;
    border: 1px solid #4d8eff;
    transition: .2s linear;
}

header .lang_links a img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

header .lang_links .hidden_lang{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: .2s linear;
    top: 100%;
    padding-top: 3px;
    left: 50%;
    transform: translateX(-50%);
}

header .lang_links:hover .hidden_lang{
    opacity: 1;
    visibility: visible;
}

header .lang_links .hidden_lang a{
    border-color: transparent;
}

header .lang_links .hidden_lang a:hover{
    border-color: #4d8eff;
}

header .link_tg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5px;
    transition: .2s linear;
    background: var(--btn-bg);
    color: var(--btn-color);
}

header .link_tg img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: -2px;
}

header .link_tg:hover{
    background: var(--btn-bg--hover);
}

header .link_btn a{
    font-size: 16px;
    height: 40px;
    padding: 0 20px;
    font-weight: 500;
}

/*---------------
   Main section
---------------*/
.main_slider{}

.main_slider .cont{
    max-width: 1094px;
}

.main_slider .slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 36px 56px 47px 32px;    
}

.main_slider .slide .data{
    width: 55%;
}

.main_slider .slide .title{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 600;
}

.main_slider .slide .info{
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;
    margin-top: 23px;
}

.main_slider .slide .link_btn{
    margin-top: 35px;
}

.main_slider .slide .link_btn a{
    display: inline-flex;
    padding: 0 47px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
}

.main_slider .slide .img{
    width: calc(45% - 26px);
}

.main_slider .slide .img img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}


.catalog{}

.catalog .grid{
    --margin-left: 20px;
    --margin-bottom: 20px;
    --items: 3;
    
    margin-left: calc(var(--margin-left, 0) * -1);
    margin-bottom: calc(var(--margin-bottom, 0) * -1);

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}

.catalog .item{
    margin-left: var(--margin-left, 0);
    margin-bottom: var(--margin-bottom, 0);
    width: calc(100% / var(--items, 1) - var(--margin-left, 0));

    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
}

.catalog .item .tag{
    position: absolute;
    right: 7px;
    top: -8px;
    z-index: 5;
    max-width: calc(100% - 16px);
    padding: 1px 8px;
    border-radius: 3px;
    background: #4d8eff;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
}

.catalog .item .img{
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 47.4%;
    overflow: hidden;
    border-radius: 3px;
    flex-shrink: 0;
}

.catalog .item .img img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 10px;
    min-height: 10px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 3px;
    transition: .2s linear;
}

.catalog .item .img:hover img{
    transform: scale(1.1);
}

.catalog .item .data{
    flex-grow: 1;
    margin-top: 6px;
    border-radius: 3px;
    padding: 9px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
}  

.catalog .item .data .name{
    width: calc(100% - 167px);
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.catalog .item .data .name div{
    font-size: 12px;
    color: #7e7f82;
}

.catalog .item .data .link_btn{
    width: 152px;
}

.catalog .item .data .link_btn a{
    padding: 0 15px;
    font-size: 14px;
    height: 36px;
    font-weight: 300;
}


.border_btn{
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    color: #6a6a6a;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    transition: .2s linear;
    display: block;
}

.border_btn:hover{
    border-color: #acacac;
    color: #4f4f4f;
}


.block_banner{}

.block_banner .box{
    padding: 25px 44px;
    position: relative;
    padding-right: 410px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    min-height: 215px;
}

.block_banner .box .data{
    max-width: 600px;
}

.block_banner .title{
    font-weight: 600;
    font-size: 28px;
    color: #272a34;
    line-height: 1.1;
}

.block_banner * + .text{
    margin-top: 15px;
}

.block_banner .text{
    line-height: 1.5;
    font-size: 16px;
    font-weight: 300;
    max-width: 475px;
}

.block_banner * + .link_btn{
    margin-top: 30px;
}

.block_banner .link_btn a{
    display: inline-flex;
    padding: 0 70px;
}

.block_banner .box .img{
    position: absolute;
    width: 365px;
    right: 30px;
    top: 17px;
}

.block_banner .img img{
    display: block;
    width: 100%;
    max-width: 100%;
}


.news{}

.news .grid{
    --margin-left: 20px;
    --margin-bottom: 20px;
    --items: 2;
    
    margin-left: calc(var(--margin-left, 0) * -1);
    margin-bottom: calc(var(--margin-bottom, 0) * -1);

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}

.news-item{
    margin-left: var(--margin-left, 0);
    margin-bottom: var(--margin-bottom, 0);
    width: calc(100% / var(--items, 1) - var(--margin-left, 0));
    padding: 47px 45px;
    padding-right: 240px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
    position: relative;
    min-height: 308px;
}  

.news-item__data{
    position: relative;
    z-index: 5;
}

.news-item__title{
    font-size: 28px;
    color: #000;
    line-height: 1.1;
}

* + .news-item__text{
    margin-top: 20px;
}

.news-item__text{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    max-width: 230px;
}

* + .news-item__btn{
    margin-top: 23px;
}

.news-item__btn a{
    display: inline-flex;
}

.news-item__img{
    position: absolute;
    top: 0;
    right: 45px;
    width: 214px;
    height: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.news-item__img img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}


.promotions{}

.promotions .grid{
    --margin-left: 20px;
    --margin-bottom: 20px;
    --items: 4;
    
    margin-left: calc(var(--margin-left, 0) * -1);
    margin-bottom: calc(var(--margin-bottom, 0) * -1);
}

.promotion-item{
    margin-left: var(--margin-left, 0);
    margin-bottom: var(--margin-bottom, 0);
    width: calc(100% / var(--items, 1) - var(--margin-left, 0));
    
    position: relative;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
    padding: 17px 20px 20px;
    text-align: center;
}

.promotion-item__bonus{
    position: absolute;
    right: 11px;
    top: -7px;
    max-width: calc(100% - 22px);
    border-radius: 3px;
    background-color: #ca0f0f;
    padding: 2px 6px;
    font-size: 10px;
    line-height: 1.2;
    color: #fff;
    font-weight: 500;
}

.promotion-item__logo{
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.promotion-item__logo img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    transition: .2s linear;
}

.promotion-item__logo a:hover img{
    transform: translateY(-4px);
}

* + .promotion-item__title{
    margin-top: 20px;
}

.promotion-item__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
}

.promotion-item__title a{
    text-decoration: none;
    transition: .2s linear;
    border-bottom: 1px solid transparent;
    color: currentColor;
}

.promotion-item__title a:hover{
    border-color: currentColor;
}

* + .promotion-item__desc{
    margin-top: 10px;
}

.promotion-item__desc{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}


.sect_form{
    margin-top: 50px;
}

.sect_form .cont{
    max-width: 772px;
}

.sect_form .form{
    margin-top: 15px;
}

.sect_form .link_btn > *{
    min-width: 324px;
    height: 50px;
}


/*---------------
   Footer
---------------*/
footer{
    flex: 0 0 auto;
}
/*---------------
   PopUp
---------------*/
